.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.is-done {
  opacity: 0.5;
}

.active-filter {
  background-color: greenyellow;
}

.error {
  border: 2px solid red;
}

.error-message {
  color: maroon;
}